@page
@model Index
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<div >
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Read</th>
      <th scope="col">Rating</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
@foreach (var book in Model.Books){
    <tr>
      <th scope="row">@book.Id</th>
      <td>@book.Title</td>
      <td>@book.Author</td>
      <td>@if(@book.IsRead)
        {
            <i class="bi bi-check-circle" style="color: CadetBlue;"></i>
        }
        else
        {
            <i class="bi bi-x-circle" style="color: SlateBlue;"></i>
        }
      </td>
      
      <td>
        @if(@book.IsRead)
        @for(int i = 0; i < 5; i++)
        {
            @if(i < book.Rating)
            {
                <i class="bi bi-star-fill" style="color: Gold;"></i>
            }
            else
            {
                <i class="bi bi-star" style="color: Gold;"></i>
            }
        }
      </td>
      <td>
        <a asp-page="Book" asp-route-id="@book.Id" class="btn btn-light">
          <i class="bi bi-eye" style="color: black;"></i>
          </a>
          <a asp-page="Edit" asp-route-id="@book.Id" class="btn btn-light">
          <i class="bi bi-pen" style="color: black;"></i>
          </a>
      </td>
    </tr>
}
  </tbody>
</table>
</div>